@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(44, 44, 44);
    font-family: "Roboto", sans-serif;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.board {
    width: 48vh;
    height: 48vh;
    display: grid;
    margin : auto; 
    padding-bottom: 4vh;
    position: relative; 
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
    height: 97px;
    width: auto;
    padding: 10px 10px;
    border: 2;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    border-color: rgb(192, 192, 192);
    border-style: dashed;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.selected {
    background-color: rgb(126, 165, 190);
    color: rgb(44, 44, 44);
}

.invert {
  
    filter : invert(1);

}

button:hover {
    border-style: solid;
    transition: all 1s ease-in; /* Add this line */
}

.row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.inputBox {
    width: 16vh;
    height: 16vh;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    font-size: 12vh;
    /* align vertical and horizonal */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: initial;
    color: black;
    cursor: pointer;
    overflow: hidden;
}

.div {
    font-family: "roboto", sans-serif;   
}


#winState {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 40vh;
    transform: translate(-50%, -320%);
    z-index: 10;
    font-size: 7vh;

    background-color: rgb(173, 173, 173);
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-family: "roboto", sans-serif;
    color: white;

}

#winState.hasText {
    border : 2px solid rgb(134, 134, 134);
}

